* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    background-color: darkslateblue;
}

main{
    padding: 0px 10px;
}

#logo{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 60px;
}

#lingo-table {
    display: grid;
    gap: 5px;
    justify-content: center;
}

header{
    margin-top: 20px;
    margin-bottom: 20px;
}

.default-letter-box {
    display: flex;
    background-color: #4169e1;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    font-family: sans-serif;
    max-height: 16vw;
    max-width: 16vw;
}

#input-ctn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px 0px;
}

#word-input {
    border: none;
    width: 320px;
    background-color: royalblue;
    padding: 13px;
    color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: sans-serif;
    font-size: 20px;
}

#word-input:focus {
    outline: none;;
}

#submit-btn {
    border: none;
    width: 50px;
    height: 49px;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #2e2aa5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.valid {
    background-color:#7ccd00;
}

.not-valid {
    background-color:brown;
}

.not-present {
    background-color: #4169e1;
}

.wrong-place {
    background-color: rgb(200, 103, 18);
}

#timer {
    padding: 0px 5px;
    display: flex;
    width: 360px;
    height: 40px;
    background-color: #4169e1;
    margin: 20px auto;   
    justify-content: start;
    align-items: center;
    border-radius: 20px;
}

@keyframes timer {
    from  {width: 360px;}
    to {width: 20px;}
}

.start-timer {
    height: 30px;
    background-color: lightblue;
    animation-name: timer;
    border-radius: 30px;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*settings*/
.option-ctn {
    display: flex;                  
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    margin-top: 70px;
}

.option-ctn > h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}

.option{
    border-radius: 5px;
    height: 50px;
    width: 50px;
    background-color: #4169e1;
    border: 5px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: sans-serif;
    cursor: pointer;
    padding: 10px;
}

.active-option{
    border: 5px solid lightblue;    
}

.option:hover{
    border: 5px solid lightblue;    
}

.difficulty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 50px;
}

.timer {
    justify-content: center;
    gap: 10px;
}

.start-game-btn {
  height: 64px;
  width: 300px;
  display: block;
  margin: 40px auto;
  font-size: 25px;
  font-weight: bold;
  background-color: #4169e1;
  border: 5px solid black; 
}

.start-game-btn:hover, #play-again:hover {
    border: 5px solid lightblue; 
    cursor: pointer;
}

.start-game-btn:disabled {
    border: 5px solid black;    
    background-color: rgb(129, 142, 147);
    cursor:default;
} 

#change-settings {
    display: none;
    margin: 0 auto;
    width: 250px;
    height: 50px;
    width: 250px;
    font-size: 20px;
}  

#play-again {
    display: none;
    margin: 10px auto;
    height: 50px;
    width: 200px;
    font-size: 20px;
}  

.end-game{
    margin-top: 10px;
    margin-bottom: 20px;
}